myfooter {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    position: fixed;
    bottom:0;
    left:0;
}

.navbar-default {
    background-color: #00a5ad;
    border-color: #00a5ad;
    border-radius:0;
}

.navbar-default.navbar-brand,
.navbar-default.navbar-default.navbar-brand:hover,
.navbar-default.navbar-brand:focus{
    color:#00a5ad;
    background-color: #00a5ad;
}

.navbar-default.navbar-toogle:hover,
.navbar-default.navbar-toogle:focus {
    background-color: #00a5ad;
}